/* Only used by sparql-edit-as-class.ts */
a {
  text-decoration: none;
}
button.yasqe_share {
  display: none !important;
}
.yasgui .controlbar {
  display: none !important;
}

.yasr .dataTable {
  font-size: 0.9em;
}
.yasr .rowNumber {
  text-align: left;
}

/* Same color scheme as YASGUI */
.hljs-variable {
  color: #219;
}
.hljs-symbol {
  color: #f50;
}
.hljs-function {
  color: #708;
}
.hljs-keyword {
  color: #708;
}
.hljs-literal {
  color: #a11;
}
.hljs-builtin {
  color: #000;
}
.hljs-expanded-iri {
  color: #085;
}
